<div class="jumbotron">
    <div class="container-fluid home">
        <h1 align="center">The Soul Server</h1>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=user.username.toUpperCase()%>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/logout">Logout</a>
              <a class="dropdown-item" href="/delete">Delete</a>
              <a class="dropdown-item" href="/update">Update</a>
          </div>
        </div>
      </div>
  </div>