<%- include ("./partials/header"); %>
  <div class="jumbotron dashboard">
      <div class="container-fluid">
          <h4>Create New Thought</h4>
          <a class="btn btn-outline-primary btn-lg" href="/dashboard/new" role="button">New</a>
      </div>
      <div class="container-fluid">
          <h4>Show all Thoughts</h4>
          <a class="btn btn-outline-primary btn-lg" href="/dashboard/show" role="button">Show</a>
      </div>
  </div>
  